.title_block {
    display: flex;
    align-items: center;

    width: 100%;
    height: 8rem;
    padding-left: 10rem;
}

.title_text {
    font-size: 2.4rem;
    font-weight: bold;
}

.tasks_space {
    width: 100%;
    padding: 3rem 10rem;

}

.task_block {
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
}

.list_nav_block {
    display: flex;

    gap: 3rem;
}

.trash_ico {
    width: 1.5rem;
}



.checkbox_title {
    color: #737373;
    font-size:1.8rem;
}

.modal {
    padding: 2rem;
    background-color: #fff;
    border: 1px solid var(--purple300);
    border-radius: 2rem;
}

.input_block {
    width: 20rem;
    height: 3rem;
    padding: 12px;
    border-radius: 1rem;

    border: 1px solid var(--purple400);

    display: flex;
    justify-content: space-between;

    align-items: center;
}

.input {
    width: 100%;
    background-color: transparent;
}

.modal_btn {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.button_block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    border: 1px solid var(--purple400);
    border-radius: 2rem;

    background: transparent;

    transition: .5s;
}

.button_block:is(:hover, :active) {
    color: #fff;
    background-color: var(--purple400);
}

.btn_title {
    font-size: 1rem;
    font-weight: bold;
}


@media screen and (max-width:425px) {
    .modal {
        padding: 1.5rem;
    }

    .input_block {
        width: 16rem;
    }


}

@media screen and (max-width:770px) {
    .title_block {
        padding-left: 5rem;
    }
    .tasks_space {
        padding: 3rem 5rem;
    
    }


    @media screen and (max-width:490px) {

        .title_text {
            font-size: 1.8rem;
            font-weight: bold;
        }
        .title_block {
            padding-left: 0;
            justify-content: center;
        }

        .tasks_space {
            padding: 0;
        }
    }
}