.primary_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    padding: 0 10rem;
}

.menu {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 1.2rem;
    
    font-weight: bold;
    color: #111;
    border: 1px solid var(--blue300);
}

.navbar_block {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar_block:first-child {
    justify-content: start;
}

.navbar_block:last-child {
    justify-content: end;
}

.logo {
    width: 12rem
}

.username {
    font-size: 1.4rem;
    font-weight: 200;
}

@media screen and (max-width:768px) {
    .logo {
        width: 15rem
    }
    .primary_header {
        padding: 0 5rem;
    }
}

@media screen and (max-width:490px) {
    .primary_header {
        padding: 0 2rem;
    }

    .username {
        font-size: 1rem;
        font-weight: 300;
    }
}