.main_space {
    display: grid;
    place-items: center;
    width: 100%;
    height: 9rem;
    padding: 1rem;
}

.icon_trash {
    display: none;
}

.content {
    display: flex;
    width: 85%;
    height: 100%;
}

.ui_components__block {
    display: flex;
    align-items: center;
    width: 70%;
    height: 100%;
}

.icons_block {
    display: flex;
    gap: 5.5rem;
}

.icon_block {
    width: 2.7rem;
    height: 2.7rem;
    display: flex;
    gap: .5rem;
}

.icon_input {
    display: flex;
    gap: 1rem;
}

.edit__icon {
    display: flex;
    flex-direction: column;
}
.edit_block_input {
    display: none;
}

.edit__icon:is(:hover, :active, :focus) .edit_block_input {
    display: block;
    font-size: 1.1rem;
    font-weight: bold;
    width: 60%;
} 

.edit__icon:is(:hover, :active, :focus) .input__line {
    width: 20rem;
}

.input__line {
    transition: .7s ease-in-out;
    margin-top: .4rem;
    height: 2px;
    width: 0rem;
    background-color: var(--purple400);
}

.text__block {
    display: flex;
    justify-content: end;
}

.text__block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 30%;
    gap: 2rem;
}

.icon {
    width: 100%;
    height: 100%;
}

.text {
    display: flex;
    justify-content: end;
}

.pre__title {
    font-size: 1.5rem;
    font-weight: bold;
}

.__title {
    font-size: 1.7rem;
    font-weight: lighter;
}



/* adapt */

@media screen and (max-width:960px) {
    .pre__title {
        font-size: 1.2rem;
    }

    @media screen and (max-width:815px) {
        .edit__icon:is(:hover, :active, :focus) .input__line {
            width: 14rem;
        }
        .main_space {
            height: 7rem;
        }

        .pre__title {
            font-size: 1rem;
        }

        .__title {
            font-size: 1.4rem;
        }
    }
}

@media screen and (max-width:675px) {
    .icon_block {
        width: 2rem;
        height: 2rem;
    }
    .main_space {
        height: 12rem;
    }
    .content {
        display: flex;
        flex-direction: column;
    }

    .pre__title {
        display: none;
    }

    .text__block {
        display: grid;
        place-items: center;
        width: 100%;
    }

    .ui_components__block {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;
    }

    .icons_block {
        width: 100%;
        justify-content: space-between;
    }
}

@media screen and (max-width:500px) {
    .icon_block {
        width: 1.5rem;
        height: 1.5rem;
    }



    .edit__icon:is(:hover, :active, :focus) .icons_block {
        gap: 0;
    }
    .edit__icon:is(:hover, :active, :focus) .icon_trash {
        display: none;
    }

    .edit__icon:is(:hover, :active, :focus) .input__line {
        width: 140%;
    }


    .icons_block {
       flex-direction: row-reverse;
    }

    .main_space {
        height: 9rem;
    }
    .ui_components__block {
        height: 3.2rem;
    }

    @media screen and (max-width:320px) {
        .edit_block_input {
            width: 100%;
        }
        .edit__icon:is(:hover, :active, :focus) .input__line {
            width: 190%;
        }
    }
}


